.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/config/database.php
application/config/config.php


application/views/timeline/view_timeline_test.php
*.fuse_hid*
todo.html
assets/images/avatars/1_Baptiste/origin.jpg
assets/images/avatars/4_Vincent/origin.jpg
