.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/config/database.php
application/models/.fuse_hidden000071d600000002
application/models/.fuse_hidden000071d700000003