
/** GENERAL **/
body{
	/*background: rgb(7,105,173);*/
	background-image:linear-gradient(rgb(7,105,173), white);
}

h1, h2, h3, h4, h5, h6{
	color: rgb(7,105,173);
	font-family: 'Sniglet', cursive;	
}


/** HEADER **/
.header{
	background-image:linear-gradient(rgb(38,38,38), rgb(10,10,10));
	border-bottom: 1px solid grey;
	color: white;
	padding: 16px;	
	margin-bottom: 15px;
}

.menu{
	font-size: 1.3em;
	margin-right: 10px;
}

.menu:hover{
	border-bottom: 2px solid white;
	color: white;
	font-size: 1.3em;
	margin-right: 10px;
	text-decoration: none;
}

.active{
	background-image:radial-gradient(rgb(70,70,70), rgb(0,0,0));
	border: 1px solid grey;
	border-radius: 7px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}














/********************************************************************/
/********************************************************************/
/******************************* MAIN *******************************/
/********************************************************************/
/********************************************************************/
.main{
	background: white;
	border: 1px solid grey;
	border-radius: 7px;
	padding-top: 15px;
}

/* AFFICHAGE DES POINTS */
.point{
	border: 1px solid lightgrey;
	border-radius: 7px;
	padding: 10px;
	margin-top: 10px;
	vertical-align: top;
	cursor: pointer;
}	

.point_date{
	font-size: 0.75em;
	text-align: right;
	color: grey;
}

.point_description{
	font-size: 1.2em;
	padding-top: 15px;
	padding-bottom: 10px;
	
	margin-bottom: 5px;
}

.name{
	vertical-align: top;
}



/* AFFICHAGE DES COMMENTAIRE */

.zone_commentaire{
	border-top: 1px solid lightgrey;
	padding-top: 5px;
	display: none;
}



/* GESTION DES IMAGES */
.image_point{
	width: 45px;
	height: 45px;
}

.image_commentaire{
	width: 40px;
}


/* FORMULAIRE */
.form_connexion{
	background: rgb(38,38,38);
	border-radius: 10px;
	padding: 20px;
}

.inscription{
	margin: 5px;
	margin-bottom: 20px;
}


/* COULEURS =) */

.blanc{
	color: white;
}

.icone{
	color: rgb(7,105,173);
	font-size: 5.0em;
	text-align: center;
}





.separateur{
	margin-top: 10px;
	margin-bottom: 10px;
	height: 3px;
	background: lightgrey;
}


#add_old_points{
	margin: 10px;
}



/** FOOTER **/
.footer{
	background-image:linear-gradient(rgb(38,38,38), rgb(10,10,10));
	color: white;
	padding: 5px;
	margin-top: 15px;
	padding: 25px;
}

.footer_titre{
	font-family: 'Sniglet', cursive;
	font-size: 1.2em;
}

