
/** GENERAL **/
body{
	/*background: rgb(7,105,173);*/
	background: #3f51b5;
}

h1, h2, h3, h4, h5, h6{
	color: #3f51b5;
	font-family: 'Sniglet', cursive;	
}


/** HEADER **/
.header{
	background: rgb(38,38,38);
	border-bottom: 1px solid grey;
	color: white;
	padding-top: 7px;
	padding-bottom: 7px;	
	margin-bottom: 15px;
}

.menu{
	font-size: 1.3em;
	margin-right: 10px;
	color: #304ffe;
}

.menu:hover{
	border-bottom: 2px solid white;
	color: white;
	text-decoration: none;
}

.active{
	color: white;
}

.central{
	background: white;
	border: 1px solid white;
	border-radius: 3px;
	padding-bottom: 15px; 
}

.bandeau{
	background: rgb(38,38,38);
	margin-right: -15px;
	margin-left: -15px;
	padding: 4px;
	padding-left: 15px; 
	border-radius: 2px;
}

.bandeau-texte{
	color: white;
	font-family: 'Sniglet', cursive;
	font-size: 2em;
}

/********************************************************************/
/********************************************************************/
/******************************* MAIN *******************************/
/********************************************************************/
/********************************************************************/

/* AFFICHAGE DES POINTS */


.point{
	border: 1px solid lightgrey;
	border-radius: 2px;
	padding: 10px;
	margin-top: 10px;
	vertical-align: top;
	cursor: pointer;
	box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.7); 
}	
	
.point_date{
	font-size: 0.75em;
	text-align: right;
	color: grey;
	display: none;
}

.point_description{
	font-size: 1.2em;
	margin-bottom: 5px;
	padding-top: 7px;
	padding-bottom: 10px;
}

.name{
	vertical-align: top;
}


/* LEADERBOARD */
.leader {
	border-style: solid;
	border-width: 5px;
	border-radius: 15px;

	text-align: center;
}

.leader-1 {
	border-color: goldenrod;
	background: gold;
}

.leader-2 {
	border-color: slategray;
	background: silver;
}

.leader-3 {
	border-color: saddlebrown;
	background: peru;
}


/* AFFICHAGE DES COMMENTAIRE */

.zone_commentaire{
	border-top: 1px solid lightgrey;
	padding-top: 5px;
	display: none;
}

.commentaire_texte{
	padding-bottom: 2px;
}

.nbCommentaire{
	color: rgb(7,105,173);
	font-size: 0.8em;
}




/* GESTION DES IMAGES */
.image_point{
	width: 38px;
	height: 38px;
}

.image_commentaire{
	width: 35px;
}


/* FORMULAIRE */
.form_connexion{
	background: rgb(38,38,38);
	border-radius: 10px;
	padding: 20px;
}

.inscription{
	margin: 5px;
	margin-bottom: 20px;
}


/* COULEURS =) */

.blanc{
	color: white;
}

.bleu{
	color: #304ffe;
}

.bleu-background{
	background:#304ffe;
} 

.icone{
	color: rgb(7,105,173);
	font-size: 5.0em;
	text-align: center;
}





.separateur{
	margin-top: 10px;
	margin-bottom: 10px;
	height: 3px;
	background: lightgrey;
}


#add_old_points{
	margin-top: 15px;
}



/** FOOTER **/
.footer{
	background:rgb(38,38,38);
	color: white;
	padding: 5px;
	margin-top: 15px;
	padding: 25px;
	font-size: 0.9em;
}

.footer_titre{
	font-family: 'Sniglet', cursive;
	font-size: 1.1em;
}

/*****************************************************************************/
/*							OVERRIDE DE BOOTSTRAP
/*****************************************************************************/

.btn-primary{
	background: #3f51b5;
}