
/** GENERAL **/
body{
	/*background: rgb(7,105,173);*/
	background-image:linear-gradient(rgb(7,105,173), white);
}

h1, h2, h3, h4, h5, h6{
	color: rgb(7,105,173);
	font-family: 'Sniglet', cursive;	
}


/** HEADER **/
.header{
	background-image:linear-gradient(rgb(38,38,38), rgb(10,10,10));
	border-bottom: 1px solid grey;
	color: white;
	padding: 13px;	
	margin-bottom: 15px;
}

.menu{
	font-size: 1.2em;
	margin-left: 20px;
}
















/** MAIN **/
.main{
	background: white;
	border: 1px solid grey;
	border-radius: 7px;
	padding: 15px;
}

.point{
	border: 1px solid lightgrey;
	border-radius: 7px;
	padding: 7px;
}

.point_texte{
	vertical-align: top;
}


.commentaire{
	font-size: 0.9em;
	margin-left: 30px;
	margin-top: 10px;
	vertical-align: top;
}

.commentaire2{
	font-size: 0.9em;
	vertical-align: top;
}


















/** FOOTER **/
.footer{
	background-image:linear-gradient(rgb(38,38,38), rgb(10,10,10));
	color: white;
	padding: 5px;
	margin-top: 15px;
	padding: 25px;
}

.footer_titre{
	font-family: 'Sniglet', cursive;
	font-size: 1.2em;
}

